<!-- <div class="hover-banner-area mb-65 mb-md-45 mb-sm-45" *ngIf="!this._uw.admin">
	<div class="container wide">
		<div class="row">
			<div class="col-md-4 mb-30">
				<div class="single-category single-category--three">
					<div class="single-category__image single-category__image--three single-category__image--three--creativehome single-category__image--three--banner">
						<img src="assets/assetsprasi/images/banners/banner-1.jpg" class="img-fluid" alt="">
					</div>
					<div class="single-category__content single-category__content--three single-category__content--three--creativehome  single-category__content--three--banner mt-25 mb-25">
						<div class="title">
							<p><a routerLink="/prasifilter/Zapatos">Zapatos<span>Niñ@s </span></a></p>
							<a routerLink="/prasifilter/Zapatos">Comprar</a>
						</div>
					</div>
					<a routerLink="/prasifilter/Zapatos"class="banner-link"></a>
				</div>
			</div>
			<div class="col-md-4 mb-30">
				<div class="single-category single-category--three">
					<div class="single-category__image single-category__image--three single-category__image--three--creativehome single-category__image--three--banner">
						<img src="assets/assetsprasi/images/banners/banner-2.jpg" class="img-fluid" alt="">
					</div>
					<div class="single-category__content single-category__content--three single-category__content--three--creativehome  single-category__content--three--banner mt-25 mb-25">
						<div class="title">
							<p><a routerLink="/prasifilter/Botas y botines">Botas  <span>y Botines</span></a></p>
							<a routerLink="/prasifilter/Botas y botines">Comprar</a>
						</div>
					</div>
					<a routerLink="/prasifilter/Botas y botines"	 class="banner-link"></a>
				</div>
			</div>
			<div class="col-md-4 mb-30">
				<div class="single-category single-category--three">
					<div class="single-category__image single-category__image--three single-category__image--three--creativehome single-category__image--three--banner">
						<img src="assets/assetsprasi/images/banners/banner-3.jpg" class="img-fluid" alt="">
					</div>						
					<div class="single-category__content single-category__content--three single-category__content--three--creativehome  single-category__content--three--banner mt-25 mb-25">
						<div class="title">
							<p><a routerLink="/prasifilter/Moccs">Mocs  <span>Fashion</span></a></p>
							<a routerLink="/prasifilter/Moccs">Comprar</a>
						</div>
					</div>
					<a routerLink="/prasifilter/Moccs" class="banner-link"></a>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div class="product-category-container mb-90 mb-md-70 mb-sm-55">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <!--=======  product category wrapper  =======-->
                    
                    <div class="Prasi-slick-slider product-category-slider"
                    
                    data-slick-setting='{
                        "slidesToShow": 3,
                        "arrows": true,
                        "autoplay": true,
                        "autoplaySpeed": 5000,
                        "speed": 1000,
                        "prevArrow": {"buttonClass": "slick-prev", "iconClass": "ion-ios-arrow-thin-left" },
                        "nextArrow": {"buttonClass": "slick-next", "iconClass": "ion-ios-arrow-thin-right" }
                    }'
                    data-slick-responsive='[
                        {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                        {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                        {"breakpoint":991, "settings": {"slidesToShow": 2, "arrows": false} },
                        {"breakpoint":767, "settings": {"slidesToShow": 1, "arrows": false} },
                        {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false} },
                        {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
                    ]'
                    
                    >
                        
                       
                        
                        <div class="col">
                    
                            <div class="single-category single-category--two">
                                <!--=======  single category image  =======-->
                                
                                <div class="single-category__image single-category__image--two">
                                    <img src="assets/images/category/women.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="single-category__content single-category__content--two mt-25">
                                    <div class="title">
                                        <a routerLink="/prasifilter/Moccs">Joyeria</a>
                                    </div>

                                    <p class="product-count">6</p>
                                </div>
                                <a routerLink="/prasifilter/Moccs" class="banner-link"></a>
                                
                            </div>
                            
                        </div>
                        
                        <div class="col">
                            <!--=======  single category  =======-->
                    
                            <div class="single-category single-category--two">
                                <!--=======  single category image  =======-->
                                
                                <div class="single-category__image single-category__image--two">
                                    <img src="assets/assetsshadi/images/category/cat-look-book.jpg" class="img-fluid" alt="">
                                </div>
                                
                                <!--=======  End of single category image  =======-->

                                <!--=======  single category content  =======-->
                                
                                <div class="single-category__content single-category__content--two mt-25">
                                    <div class="title">
                                        <a routerLink="/prasifilter/Moccs">Medicina</a>
                                    </div>

                                    <p class="product-count">10</p>
                                </div>
                                
                                <!--=======  End of single category content  =======-->


                                <!--=======  banner-link  =======-->
                                
                                <a routerLink="/prasifilter/Moccs" class="banner-link"></a>
                                
                                <!--=======  End of banner-link  =======-->
                            </div>
                            
                            <!--=======  End of single category  =======-->
                        </div>
                        
                        <div class="col">
                            <!--=======  single category  =======-->
                    
                            <div class="single-category single-category--two">
                                <!--=======  single category image  =======-->
                                
                                <div class="single-category__image single-category__image--two">
                                    <img src="assets/assetsshadi/images/category/men.jpg" class="img-fluid" alt="">
                                </div>
                                
                                <!--=======  End of single category image  =======-->

                                <!--=======  single category content  =======-->
                                
                                <div class="single-category__content single-category__content--two mt-25">
                                    <div class="title">
                                        <a routerLink="/prasifilter/Moccs">Telefonia</a>
                                    </div>

                                    <p class="product-count">12</p>
                                </div>
                                
                                <!--=======  End of single category content  =======-->


                                <!--=======  banner-link  =======-->
                                
                                <a routerLink="/prasifilter/Moccs" class="banner-link"></a>
                                
                                <!--=======  End of banner-link  =======-->
                            </div>
                            
                            <!--=======  End of single category  =======-->
                        </div>
                        
                        <div class="col">
                            <!--=======  single category  =======-->
                    
                            <div class="single-category single-category--two">
                                <!--=======  single category image  =======-->
                                
                                <div class="single-category__image single-category__image--two">
                                    <img src="assets/assetsshadi/images/category/shoes.jpg" class="img-fluid" alt="">
                                </div>
                                
                                <!--=======  End of single category image  =======-->

                                <!--=======  single category content  =======-->
                                
                                <div class="single-category__content single-category__content--two mt-25">
                                    <div class="title">
                                        <a routerLink="/prasifilter/Moccs">Reposteria</a>
                                    </div>

                                    <p class="product-count">15</p>
                                </div>
                                
                                <!--=======  End of single category content  =======-->


                                <!--=======  banner-link  =======-->
                                
                                <a routerLink="/prasifilter/Moccs" class="banner-link"></a>
                                
                                <!--=======  End of banner-link  =======-->
                            </div>
                            
                            <!--=======  End of single category  =======-->
                        </div>

                    </div>
                    
                    <!--=======  End of product category wrapper  =======-->
                </div>
            </div>
        </div>
    </div>