<div class="footer-container footer-one pt-100 pb-50">
        <div class="container wide">
            <div class="row">
                <div class="col footer-single-widget">
                    <!--=======  copyright text  =======-->
                        <!--=======  logo  =======-->
                        
                        <div class="logo">
                            <img src="assets/images/logo.png" class="img-fluid" alt="">
                        </div>
                        
                        <!--=======  End of logo  =======-->

                        <!--=======  copyright text  =======-->
                        
                        <div class="copyright-text">
                            <p> &copy; 2021 diseñosacrilicosmerida.  <span>Todos los derechos reservados</span>  Desarrollado por <strong> <a href="https://www.buckapi.com" target="_blank"> Buckapi</a> </strong></p>
                        </div>
                        
                        <!--=======  End of copyright text  =======-->
                    
                    <!--=======  End of copyright text  =======-->
                </div>
                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                        <h5 class="widget-title">Enlaces</h5>

                        <!--=======  footer navigation container  =======-->
                        
                        <div class="footer-nav-container">
                            <nav>
                                <ul>
                                    <li><a routerLink="prasiabout">Quienes somos</a></li>
                                    <li><a routerLink="prasicontact">Contacto</a></li>
                                    <li><a routerLink="prasishopcart">Productos</a></li>
                                </ul>
                            </nav>
                        </div>
                        
                        <!--=======  End of footer navigation container  =======-->
                    
                    <!--=======  single widget  =======-->
                </div>
               

                <div class="col footer-single-widget">
                    <!--=======  single widget  =======-->
                        <h5 class="widget-title">SIGUENOS</h5>

                        <!--=======  footer navigation container  =======-->
                        
                        <div class="footer-nav-container footer-social-links">
                            <nav>
                                <ul>
                                    
                                    <li><a href="https://facebook.com/"> <i class="fa fa-facebook"></i> Facebook</a></li>
                                    <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i> Instagram</a></li>
                                    <li><a href="https://whatsapp.com/"><i class="fa fa-whatsapp"></i> Whatsapp</a></li>
                                   
                                </ul>
                            </nav>
                        </div>
                        
                        <!--=======  End of footer navigation container  =======-->
                        
                    
                    <!--=======  single widget  =======-->
                </div>
                <div class="col footer-single-widget">
                   
                            
                    <div class="footer-subscription-widget">
                    
                            <p class="footer-email"><a href="mailto:acrilicos@gmail.com">acrilicos@gmail.com</a></p>
                            <p class="footer-email">La parroquia, Mérida - Venezuela</p>
                            <p class="footer-phone">(+58) 0414 1234567</p>
                   
                        </div>
                    </div>
                </div>
            </div>
    </div>